<% provide(:title, 'Create New Inventory Item') %>
<h1>New Inventory Item</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@inventoryitem) do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :name %>
		<%= f.text_field :name, :value => @inventoryitem[:name] %>

		<%= f.label :asset_tag %>
		<%= f.text_field :asset_tag, :value => @inventoryitem[:asset_tag] %>

		<%= f.label :make %>
		<%= f.text_field :make, :value => @inventoryitem[:make] %>

		<%= f.label :model %>
		<%= f.text_field :model, :value => @inventoryitem[:model] %>

		<%= f.label :cost %>
		<%= f.text_field :cost, :value => @inventoryitem[:cost] %>

		<%= f.label :date_purchased %>
		<%= f.text_field :date_purchased, :value => @inventoryitem[:date_purchased] %>

		<%= f.label :location %>
		<%= f.text_field :location, :value => @inventoryitem[:location] %>

		<%= f.label :project_id %>
		<%= f.text_field :project_id, :value => @inventoryitem[:project_id] %>

		<%= f.submit "Add new Item", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>