<% provide(:title, 'All Existing Projects') %>
<div class="row">
  <div class="span12">
    <table class="table">
    	<thead>
    		<tr>
          <th>Project Name</th>
    			<th>Company</th>
    			<th>Contract Start Date</th>
    			<th>Contract End Date</th>
				<th>Remaining Budget (Client's Outstanding Balance)</th>
				<th>Total Budget</th>
			</tr>
		</thead>
		<tbody>	
        <% @projects.each do |item| %>
   			<tr>
   				<td><%=item.name %></td>
   				<td><%=item.company %></td>
   				<td><%=item.contract_start_date %></td>
   				<td><%=item.contract_end_date %></td>
   				<td><%=item.remaining_budget %></td>
   				<td><%=item.total_budget %></td>
   			</tr>
   		<% end %>
	    </tbody>
	</table>
  </div>
  <div class="row">
  	<div class="span10">
<%= link_to "Add New Project", new_project_path %>
</div>
</div>
</div>